<div class="custom-mega-menu-grid-layout page-width" style="--active-color:{{ menu_block.settings.active_color }}">
  {%- for childlink in link.links -%}
    <div class="custom-mega-menu-grid-layout-item">
     <h3
        class="custom-mega-menu-grid-layout-item-title {{ menu_block.settings.font_family }}-regular"
      >
        <a href="{{ childlink.url }}">
          {{ childlink.title }}
        </a>
      </h3>
      <div class="custom-mega-menu-grid-layout-item-lists">
        {%- for grandchildlink in childlink.links -%}
          <a
            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
            href="{{ grandchildlink.url }}"
            class="{{ menu_block.settings.font_family }}-regular{% if grandchildlink.current %} mega-menu__link--active{% endif %}"
            {% if grandchildlink.current %}
              aria-current="page"
            {% endif %}
          >
            {% assign image = grandchildlink.object.featured_image %}
            {% if grandchildlink.object.metafields.custom.menu_image != blank %}
              {% assign image = grandchildlink.object.metafields.custom.menu_image %}
            {% endif %}
            {% if menu_image_blocks.size > 0 %}
                {% for menu_image_block in menu_image_blocks %}
                    {% if menu_image_block.settings.title != blank and menu_image_block.settings.image != blank %}
                        {% assign menu_image_block_title = menu_image_block.settings.title | handleize %}
                        {% assign menu_item_title = grandchildlink.title | handleize %}
                        {% if menu_item_title == menu_image_block_title %}
                            {% assign image = menu_image_block.settings.image %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if image != blank %}
              <div class="image-wrapper">
                <img
                  src="{{ image | image_url }}"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  loading="lazy"
                  alt="{{ image.alt | default:grandchildlink.title | escape }}"
                >
                </div>
            {% endif %}
            <span class="grandchildlink_menu_title">{{ grandchildlink.title | escape }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
